.header {
    height: 22vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 39%, rgba(225,242,244,0) 100%);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    padding-top: 10px;
}

.header-logo {
    height: 4vh;
}

.header-title {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 5vh;
    padding-top: 1vh;
}

.header-separator {
    width: 100%;
    border: none;
    height: 5vh;
}
